@font-face {
    font-family: 'Yaldevi';
    src: url('./assets/fonts/Yaldevi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#root{
    background-color: #ededed;
}